:root {
    --global-color-1: #E5D9B6;
    --global-color-2: #B6C2E5;
    --global-color-3: #B6E5C2;
    --global-color-4: #E5B6DA;

    --marquee-color-font: #000000;
    --marquee-color-border: #000000;

    --board-color-state-info: #000000;
    --board-color-border: #000000;
    --board-color-shadow: #000000;

    --score-color-font: #00000012;

    --kbd-color-background : #cae7d1a2;
    --kbd-color-border: #000000;
    --kbd-color-shadow: #000000;

    --snake-color-alive: #CD73B8;
    --snake-color-dead: #CD73B880;

    --item-color: #567eea;
}

@font-face {
    font-family: 'Rubik Mono One';
    src: url(/fonts/RubikMonoOne-Regular.ttf);
}

html {
    background: var(--global-color-1);
}

body {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0 auto;
    width: 600px;
    height: 700px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    position: relative;
    border: solid 5px var(--board-color-border);
    box-shadow: 5px 5px var(--board-color-shadow);
    margin: 7px 0px 10px 0px;
}

#controlsList {
    height: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    align-self: center;
    user-select: none;
}

/*----------------*/
/*    COMMANDS    */
/*----------------*/

kbd {
    background-color: var(--kbd-color-background);
    border: 3px solid var(--kbd-color-border);
    box-shadow: 3px 3px var(--kbd-color-shadow);
    font-size: 1.2em; 
    line-height: 1.2em; 
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em; 
    padding: 3px 5px;
    white-space: nowrap;
}

/*---------------*/
/*    MARQUEE    */
/*---------------*/

.marquee {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 27px;
    color: var(--marquee-color-font);
    border-top: 4px solid var(--marquee-color-border);
    border-bottom: 4px solid var(--marquee-color-border);
    margin: 15px 0px 15px 0px;
    --duration: 60s;
    --gap: 3rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite reverse;
    animation-delay: calc(var(--duration) / -2);
}

.marquee__group > p {
    margin: 6px 0px 6px 0px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}