:root {
    --global-color-main: #E5D9B6;
    --global-color-sub: #B6E5C2;

    --marquee-color-border: #000000;

    --logo-color-js: #567eea;
    --logo-color-snake: #CD73B8;
    --logo-color-font-shadow: #000000;

    --board-color-state-info: #000000;
    --board-color-border: #000000;
    --board-color-shadow: #000000;

    --score-color-font: #00000012;

    --kbd-color-background : #cae7d1a2;
    --kbd-color-border: #000000;
    --kbd-color-shadow: #000000;

    --snake-color-alive: #CD73B8;
    --snake-color-dead: #CD73B880;

    --item-color: #567eea;
}

@font-face {
    font-family: 'Rubik Mono One';
    src: url(../fonts/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: 'Neutra Text Bold';
    src: url(../fonts/NeutraTextBold.otf);
}

html {
    background: var(--global-color-main);
}

body {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 700px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

#container > h1 {
    font-family: 'Neutra Text Bold', sans-serif;
    font-size: 76px;
    color:var(--logo-color-js);
    text-shadow: 3px 3px var(--logo-color-font-shadow);
    user-select: none;
}

#container > h1 > span {
    color:var(--logo-color-snake);
    padding-right: 8px;
}

#board {
    position: relative;
    border: solid 5px var(--board-color-border);
    box-shadow: 5px 5px var(--board-color-shadow);
}

#controlsList {
    height: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    align-self: center;
    user-select: none;
}

/*----------------*/
/*    COMMANDS    */
/*----------------*/

kbd {
    background-color: var(--kbd-color-background);
    border: 3px solid var(--kbd-color-border);
    box-shadow: 3px 3px var(--kbd-color-shadow);
    font-size: 1.2em;
    line-height: 1.2em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 16px;
}
